img{
    width: 100px;
    height: 150px;
    margin-bottom: 15px;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 15px;
}

.grid-container{
    margin-left: 100px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.box{
    display:flex;
    border-style: solid;
    border-color: black;
    border-spacing: 5px;
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}